.document {
			font-family: arial;
			background-color: green;

		}

		.fast {
			color: red;
			font-weight: bold; 
		}

		.inputBox {
			position: absolute;
			border-style: solid;
			border-width: 2px;
			top: 20px;
			left: 1200px;

		}

		.go {
			position: absolute;
			top: 50px;
			left: 300px;
			color: red;

		}


		#cake {
			position: absolute;
			height: 200px;
			width: 200px;
			display: none;
		}